<% if current_user %>
<div id="loginstrip">
  <div id="loginstrip-padding">
    <div style="float:left;width:50%;">
      <h1><b>Hey, <%#= session[:user].username %>!</b>  You're currently <b>logged in</b>.</h1>
    </div>
    <div style="float:right;width:50%;text-align:right;">
      <ul>
        <li><%= link_to "Logout", logout_path %></li>
        <li><%= link_to "Manage Users", :controller => 'users' %></li>
        <li><%= link_to "Site Pages", :controller => 'pages', :action => 'index' %></li>
      </ul>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<% end %>
