.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/restart.txt
config/database.yml
public/.htaccess
config/initializers/paperclip.rb
config/initializers/setup_mail.rb
app/mailers/contact_mailer.rb
config/initializers/secret_token.rb
public/ckeditor_assets/
