<hgroup>
	<h1>Users List</h1>
	<% if current_user %>
	<h2><%= link_to "Create New User", new_user_path %></h2>
	<% end %>
</hgroup>
<ul>
	<% @users.each do |user| %>
	<li><%= user.name %> <% if current_user %>(<%= link_to "Edit", edit_user_path(user) %>, <%= link_to "Delete", user, :confirm => 'Are you sure you want to delete this user?', :method => :delete %>)<% end %></li>
	<% end %>
</ul>
