<div class="block">
	<hgroup>
		<h1><%= block.name %><% if current_user && current_user.is_admin? %> (<%= link_to "Edit", edit_block_path(block) %>, <%= link_to "Delete", block, :confirm => 'Are you sure you want to delete this block?', :method => :delete %>)<% end %></h1>
	</hgroup>
	<%=raw block.html %>
</div>