<hgroup>
	<h1>Pages List</h1>
	<% if current_user %>
	<h2><%= link_to "Create New Page", new_page_path %></h2>
	<% end %>
</hgroup>
<ul>
	<% @pages.each do |page| %>
	<li><%= link_to page.title, page %> <% if current_user %>(<%= link_to "Edit Page", edit_page_path(page) %>, <%= link_to "Delete", page, :confirm => 'Are you sure you want to delete this page?', :method => :delete %>)<% end %></li>
	<% end %>
</ul>