<h1>There are two ways to build your frontpage!</h1>
<p>Either edit the view for frontpage/index.html.erb, or set one of your actual site pages as the frontpage.</p>
<h2>All Pages</h2>
<ul>
	<% @pages.each do |page| %>
	<li><%= link_to page.title, page %></li>
	<% end %>
</ul>
<h2>Common Links</h2>
<ul>
	<li><%= link_to "Blog", blog_posts_path %></li>
	<li><%= link_to "Users List", users_path %></li>
</ul>